@page "/DotthiEdit/{Id}"
@using Flic.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<AuthorizeView>
    <NotAuthorized>
        <span>You're not authorize</span>
    </NotAuthorized>
    <Authorized Context="Auth">
        <div class="row">
            <h3>Thêm Đợt thi</h3>
            <RadzenTemplateForm TItem="Dotthi" Data=@item Submit=@OnSubmit>
                <div class="row">
                    <div class="col-2">
                        <RadzenLabel Component="Id" Text="Mã đợt thi" />
                    </div>
                    <div class="col-6">
                        <RadzenTextBox Name="Id" @bind-Value=@item.Id />
                    </div>
                    <div class="col-2">
                        <RadzenRequiredValidator Component="Id" Text="Nhập mã đợt thi" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <RadzenLabel Component="Name" Text="Tên đợt thi" />
                    </div>
                    <div class="col-6">
                        <RadzenTextBox Name="Name" @bind-Value=@item.Name />
                    </div>
                    <div class="col-2">
                        <RadzenRequiredValidator Component="Name" Text="Nhập Tên đợt thi" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <RadzenLabel Component="NgayThi" Text="Ngày thi" />
                    </div>
                    <div class="col-6">
                        <RadzenTextBox Name="NgayThi" @bind-Value=@item.NgayThi />
                    </div>
                    <div class="col-2">
                        <RadzenRequiredValidator Component="NgayThi" Text="Nhập Ngày thi" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <RadzenLabel Component="Phithi" Text="Lệ phí thi" />
                    </div>
                    <div class="col-6">
                        <RadzenNumeric Name="Phithi" @bind-Value=@item.Phithi />
                    </div>
                    <div class="col-2">
                        <RadzenRequiredValidator Component="Phithi" Text="Nhập Lệ phí thi" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <RadzenLabel Component="PhiOn" Text="Lệ phí ôn" />
                    </div>
                    <div class="col-6">
                        <RadzenNumeric Name="PhiOn" @bind-Value=@item.PhiOn />
                    </div>
                    <div class="col-2">
                        <RadzenRequiredValidator Component="PhiOn" Text="Nhập Lệ phí ôn" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <RadzenLabel Component="Description" Text="Mô tả" />
                    </div>
                    <div class="col-6">
                        <RadzenTextBox Name="Description" @bind-Value=@item.Description />
                    </div>
                    <div class="col-2">
                        <RadzenRequiredValidator Component="Description" Text="Nhập Mô tả" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <RadzenLabel Component="Status" Text="Trạng thái" />
                    </div>
                    <div class="col-6">
                        <RadzenNumeric Name="Status" @bind-Value=@item.Status />
                    </div>
                    <div class="col-2">
                        <RadzenRequiredValidator Component="Status" Text="Nhập Trạng thái" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-6">
                        <RadzenButton ButtonType="ButtonType.Submit" Text="Lưu" />
                        <RadzenButton ButtonType="ButtonType.Button" Click=@Cancel Text="Hủy" />
                    </div>
                    <div class="col-2">
                    </div>
                </div>

            </RadzenTemplateForm>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public string Id { get; set; }
    Dotthi item = new Dotthi();

    protected override async Task OnInitializedAsync()
    {

        try
        {
            var response = await Http.GetAsync("api/Dotthi/DotthiGetByID/" + Id);
            if (response.IsSuccessStatusCode)
            {
                item = await response.Content.ReadFromJsonAsync<Dotthi>();
            }

        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            string ErrMessage = e.Message;
        }

#nullable disable
    }
    protected async Task OnSubmit()
    {
        try
        {
            var response = await Http.PutAsJsonAsync("api/Dotthi/DotthiUpdate", @item);
            if (response.IsSuccessStatusCode)
            {
                await JsRuntime.InvokeVoidAsync("alert", "Saved Successfully!");
                NavigationManager.NavigateTo("DotthiList");
            }
            
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Error:" + e.Message);
        }

    }
    void Cancel()
    {
        NavigationManager.NavigateTo("DotthiList");
    }
}
