<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ĐƠN ĐĂNG KÝ</title>
</head>
<style>
    :root {
        font-size: 12px;
    }
    * {
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.4rem;
    }
    .font1115 {
        font-size: 1.15rem;
    }

    .font1115B {
        font-size: 1.15rem;
        font-weight: bold;
    }

    .font12 {
        font-size: 1.2rem;
    }
    .font12B {
        font-size: 1.2rem;
        font-weight:bold;
    }
    .font13{
        font-size: 1.3rem;
    }
    .font13B {
        font-size: 1.3rem;
        font-weight: bold;
    }
    .font14 {
        font-size: 1.4rem;
    }
    .font14B {
        font-size: 1.4rem;
        font-weight: bold;
    }
    .txt_justify {
        text-align: justify;
    }
    td {
        padding: 3px;
    }
</style>
<body>
    <div style="width: 650px; margin: 0 auto;">
        <table width="100%">
            <tr>
                <td class="font12" style="text-align: center; width:45%;">HỌC VIỆN THANH THIẾU NIÊN VIỆT NAM</td>
                <td class="font12B" style="text-align: center; width: 55%;">CÔNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</td>
            </tr>
            <tr>
                <td style="text-align: center; width: 45%;">
                    <div style="width: fit-content; margin: 0 auto;">
                        <b><span class="font13B" style="border-bottom:1px solid #000">TRUNG TÂM NGOẠI NGỮ-TIN HỌC</span></b>
                        <!--<hr style="width: 30%;">-->
                    </div>

                </td>
                <td style="text-align: center; width: 55%;">
                    <div style="width: fit-content; margin: 0 auto; ">
                        <b><span class="font13B" style="border-bottom:1px solid #000">Độc lập - Tự do - Hạnh phúc</span></b>
                        <!--<hr style="width: 100%;"-->
                    </div>

                </td>
            </tr>
        </table>
        <br />
        <table width="97%">
            <tr>
                <td class="font14B" style="text-align: center;" class="text_center_col">
                    <b>ĐƠN ĐĂNG KÝ DỰ THI CẤP CHỨNG CHỈ ỨNG DỤNG CNTT CƠ BẢN</b>
                </td>
            </tr>
        </table>
        <table width="97%">
            <tr>
                <td colspan="3">
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Kính gửi:</i> Trung tâm Ngoại ngữ - Tin học, Học viên Thanh thiếu niên Việt Nam
                    <br />
                </td>
            </tr>
            <tr>
                <td colspan="3" class="txt_justify">
                    <p style="padding:3px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;Căn cứ Quy định về tổ chức thi và cấp chứng chỉ ứng dụng Công nghệ thông tin ban hành theo Thông tư liên tịch số 17/2016/TTLT-BGDĐT-BTTTT ngày 21 tháng 6 năm 2016 của Bộ trưởng Bộ Giáo dục và Đào tạo và Bộ trưởng Bộ Thông tin và Truyền thông;
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Tên tôi là: {HO_TEN}
                </td>
                <td>Giới tính: {GIOI_TINH}</td>
            </tr>
            <tr>
                <td>Sinh ngày: {NGAY_SINH}</td>
                <td>Nơi sinh: {NOI_SINH}</td>
                <td>Dân tộc: {DAN_TOC}</td>
            </tr>
            <tr>
                <td colspan="2">Số CCCD ( hoặc giấy tờ khác theo quy định): {SO_CCCD}</td>
                <td>Ngày cấp: {NGAY_CAP}</td>
            </tr>
            <tr>
                <td colspan="3">Nơi cấp: {NOI_CAP}</td>
            </tr>
            <tr>
                <td>Điện thoại: {DIEN_THOAI}</td>
                <td colspan="2">Email: {EMAIL}</td>
            </tr>
            <tr>
                <td colspan="3">Địa chỉ liên hệ: {DIA_CHI}</td>
            </tr>
            <tr>
                <td>Khóa: {KHOA_HOC}</td>
                <td colspan="2">Ngành: {NGANH}</td>

            </tr>
            <tr>
                <td>Lớp: {LOP}</td>
                <td>Mã sinh viên: {MA_SV}</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3" class="txt_justify">
                    <p style="padding:3px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;Tôi xin đăng ký dự thi cấp chứng chỉ: Chứng chỉ Ứng dụng công nghệ thông tin cơ bản
                        theo thông tư 03/2014/TT-BTTTT vào ngày {NGAY_THI} tại &nbsp; {DIEM_THI}
                    </p>
                </td>
            </tr>

            <tr>
                <td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;Tôi cam kết thực hiện đúng các quy định và quy chế thi.</td>
            </tr>
        </table>
        <table width="97%">
            <tr>
                <td width="50%">
                    <!--<div style="width: 35%; float: left; border: 1px solid #000; height: 150px;padding: 5px;box-sizing: border-box;">
                    <p style="font-size:14px">
                        Thí sinh ghi đầy đủ các thông tin (Họ và tên, ngày tháng năm sinh, nơi sinh, số điện thoại) vào mặt sau của 02 ảnh 4x6
                    </p>
                </div>
                <div style="width: 35%; float: left; border: 1px solid #000; height: 150px;padding: 5px; box-sizing: border-box; margin-left: 20px;">
                    <p>

                    </p>
                </div>-->
                </td>
                <td width="50%" style="vertical-align: top; text-align:center">
                    <p style="width: 100%; text-align: center;"><i>Hà Nội, ngày &nbsp;&nbsp;&nbsp;&nbsp;tháng &nbsp;&nbsp;&nbsp; năm 20 </i></p>
                    <P style="width: 100%; text-align: center;"><b>Người đăng ký dự thi</b></P>
                    <p>
                        <br />
                        <br />
                        <br />
                        <br />
                    </p>
                    <p style="width: 100%; text-align:center;">
                        <b>{NGUOI_THI}</b>
                    </p>
                </td>
            </tr>
        </table>

        <!--<div style="width: 100%">

            <p>


            </p>
        </div>-->
    </div>

</body>
</html>