@page "/AccountResetPass/{Id}"
@using Flic.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
<h2>Xóa tài khoản</h2>
@if (ErrMessage != "")
{
        <span>
        @ErrMessage
        </span>
}

    <p>Bạn chắc chắn reset mật khẩu của tài khoản : <b>@Id</b></p>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@ResetPassword" value="Reset mật khẩu" />
                <input type="button" class="btn btn-secondary" @onclick="@Cancel" value="Hủy bỏ" />
            </div>
        </div>
    </div>

@code {
    [Parameter]
    public string Id { get; set; }
    //Khoa item = new Khoa();
    string ErrMessage = "";
    protected override async Task OnInitializedAsync()
    {
        //item = await Http.GetFromJsonAsync<Khoa>("api/Khoa/KhoaGetByID/" + Id);
    }
    protected async Task ResetPassword()
    {
        //var response = await Http.DeleteAsync("api/Accounts/ResetPassword/" + Id);
        var response = await Http.GetAsync("api/accounts/ResetPassword/" + Id);
        
        if (response.IsSuccessStatusCode)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Reset Successfully!");
            NavigationManager.NavigateTo("AccountList");
            ErrMessage = "";
        }
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("AccountList");
    }
}
