@page "/AccountDelete/{Id}"
@using Flic.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
<h2>Xóa tài khoản</h2>
@if (ErrMessage != "")
{
    <span>
        @ErrMessage
    </span>
}

    <p>Bạn chắc chắn xóa tài khoản : <b>@Id</b></p>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@Delete" value="Delete" />
                <input type="button" class="btn btn-secondary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>

@code {
[Parameter]
public string Id { get; set; }
//Khoa item = new Khoa();
string ErrMessage = "";
protected override async Task OnInitializedAsync()
{
    //item = await Http.GetFromJsonAsync<Khoa>("api/Khoa/KhoaGetByID/" + Id);
}
protected async Task Delete()
{
    var response = await Http.DeleteAsync("api/Accounts/" + Id);
    bool deleteResponse = await response.Content.ReadFromJsonAsync<bool>();
    if (deleteResponse)
    {
        await JsRuntime.InvokeVoidAsync("alert", "Deleted Successfully!");
            NavigationManager.NavigateTo("AccountList");
        ErrMessage = "";
    }
}
void Cancel()
{
        NavigationManager.NavigateTo("AccountList");
}
}
