@page "/KhoahocDelete/{Id}"
@using Flic.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
<h2>Xóa khóa học</h2>
@if (ErrMessage != "")
{
    <span>
        @ErrMessage
    </span>
}
@if (item != null)
{
    <p>Bạn chắc chắn muốn xóa khóa học: <b>@item.Name</b></p>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@Delete" value="Delete" />
                <input type="button" class="btn btn-secondary" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</div>

    @code {
    [Parameter]
    public string Id { get; set; }
    Khoahoc item = new Khoahoc();
    string ErrMessage = "";
    protected override async Task OnInitializedAsync()
    {
        string url = "api/Khoahoc/KhoahocGetByID/" + Id;        
        var response = await Http.GetAsync(url);
        item = await response.Content.ReadFromJsonAsync<Khoahoc>();        
        ErrMessage = "";
    }
    protected async Task Delete()
    {
        var response = await Http.DeleteAsync("api/Khoahoc/KhoahocDelete/" + Id);
        bool deleteResponse = await response.Content.ReadFromJsonAsync<bool>();
            if (deleteResponse)
            {
                await JsRuntime.InvokeVoidAsync("alert", "Deleted Successfully!");
            NavigationManager.NavigateTo("KhoahocList");
            }
        }
        void Cancel()
        {
        NavigationManager.NavigateTo("KhoahocList");
        }
    }
}